@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard';
    src: url(/fonts/Pretendard-Bold.subset.woff2) format('woff2');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Pretendard';
    src: url(/fonts/Pretendard-Medium.subset.woff2) format('woff2');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Pretendard';
    src: url(/fonts/Pretendard-Regular.subset.woff2) format('woff2');
    font-weight: 400;
  }

  html,
  body,
  #__next {
    @apply min-h-screen;
    font-family: 'Pretendard';
    color: #1c1c1c;
  }
  #__next {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  table,
  td,
  th {
    border: 1px solid #ddd;
    border-collapse: collapse;
  }

  th {
    text-align: center;
    font-weight: 500;
  }
}
