@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard';
    src: url(/fonts/Pretendard-Bold.subset.woff2) format('woff2');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Pretendard';
    src: url(/fonts/Pretendard-Medium.subset.woff2) format('woff2');
    font-weight: 500;
  }
}
